server:
  port: 8081

spring:
  application:
    name: toy-music-backend
  profiles:
      active: local1

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

mybatis:
  configuration:
    map-underscore-to-camel-case: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html


midi:
  storage:
    path: /data/midi